<!DOCTYPE html>
<!--參考瀑布流模式-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YummyBike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />


    <!--
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
-->
    <!--     合併部分 -->
    <!--    <meta name="format-detection" content="telephone=no" />-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/stylesheets/flexslider.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/style.css">





    <!-- 合併部分 
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    -->
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below 
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <!-- 合併部分 
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/tmStickUp.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/TMForm.js"></script>
    <script src="js/modal.js"></script>

    <script>
        $(document).ready(function() {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });
            $('#stuck_container').tmStickUp({});

        });

    </script>
   
    <script src="js/jquery.min.js"></script>
    
    <script src="js/jquery.easing.1.3.js"></script>
  
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/moment.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="js/jquery.waypoints.min.js"></script>
    
    <script src="js/jquery.stellar.min.js"></script>

    
    <script src="js/jquery.flexslider-min.js"></script>
    <script>
        $(function() {
            $('#date').datetimepicker();
        });

    </script>
    
    <script src="js/main.js"></script>
    -->

</head>


<body>

    <div id="fh5co-container">
        <div id="fh5co-home" class="js-fullheight" data-section="home">

            <div class="flexslider" data-section="logo">

                <div class="fh5co-overlay"></div>
                <div class="fh5co-text">
                    <div class="container">
                        <div class="row">
                            <h1 class="to-animate">Yummy Bike</h1>

                            <h2 class="to-animate">Lovely Designed <span>by</span> <a href="https://github.com/YummyClub">Team Club</a></h2>
                        </div>
                    </div>
                </div>
                <ul class="slides">
                    <li style="background-image: url(images/slide_1.jpg);" data-stellar-background-ratio="0.5"></li>
                    <li style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5"></li>
                    <li style="background-image: url(images/slide_3.jpg);" data-stellar-background-ratio="0.5"></li>
                </ul>

            </div>

        </div>

        <div id="fh5co-menus" data-section="menu">
            <div class="container">
                <div class="row text-center fh5co-heading row-padded">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="heading to-animate">邱家小卷米粉</h2>
                        <p class="sub-heading to-animate">一間有小卷米粉、台南美食、台南小吃的人氣小吃</p>
                    </div>
                </div>
                <div class="row row-padded">
                    <div class="col-md-6">
                        <div class="fh5co-food-menu to-animate-2">
                            <h2 class="fh5co-dishes">店家介紹</h2>
                            <ul>
                                <li>
                                    <div class="fh5co-food-desc">

                                        <div class="map_block">
                                            <div class="map_title">style:</div> 在地小吃
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="fh5co-food-desc">

                                        <div class="map_block">
                                            <div class="map_title">Address:</div>台南市中西區國華街三段5號
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="fh5co-food-desc">

                                        <div class="map_block">
                                            <div class="map_title">Phones:</div> 062210517
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="fh5co-food-desc">

                                        <div class="map_block">
                                            <div class="map_title">Business hour:</div> 11:00~18:00
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fh5co-food-menu to-animate-2">
                            <!--<h2 class="fh5co-dishes">Steak</h2>-->
                            <ul>
                                <li>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.82366434654!2d120.19519631432338!3d22.99351092318501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7664e96d5667%3A0x94371a2263d83337!2z6YKx5a625bCP5Y2357Gz57KJ!5e0!3m2!1szh-TW!2stw!4v1506601022507" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                                    <p>Your browser does not support iframes.</p>
                                </iframe>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2>相關圖片</h2>
                    <blockquote>
                        <img src="images/chuchia1.jpg" width="370" height="272" alt="food image">
                        <img src="images/chuchia2.jpg" width="370" height="272" alt="food image">
                        <img src="images/chuchia3.jpg" width="370" height="272" alt="food image">
                        <!--                            <img src="images/邱家小卷米粉.jpg" width="360" height="360" alt="food image">-->
                    </blockquote>
                </div>




                <!-- jQuery -->
                <script src="js/jquery.min.js"></script>
                <!-- jQuery Easing -->
                <script src="js/jquery.easing.1.3.js"></script>
                <!-- Bootstrap -->
                <script src="js/bootstrap.min.js"></script>
                <!-- Bootstrap DateTimePicker -->
                <script src="js/moment.js"></script>
                <script src="js/bootstrap-datetimepicker.min.js"></script>
                <!-- Waypoints -->
                <script src="js/jquery.waypoints.min.js"></script>
                <!-- Stellar Parallax -->
                <script src="js/jquery.stellar.min.js"></script>

                <!-- Flexslider -->
                <script src="js/jquery.flexslider-min.js"></script>
                <script>
                    $(function() {
                        $('#date').datetimepicker();
                    });

                </script>
                <!-- Main JS -->
                <script src="js/main.js"></script>


            </div>
        </div>

</body>

</html>
