<%- include header %>
    <!--=====================
          Content
======================-->
    <div class="container">
        <div class="row">
            <div class="map">
                <div class="row">
                    <div class="grid_9">
                        <figure class="">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
                        </figure>
                    </div>
                </div>
                <div class="grid_8">
                    <h2>餐廳名字</h2>
                    <img src="images/page3_img1.jpg" alt="" class="img_inner fleft inn__1">
                    <div class="extra_wrapper">
                        <p> 合併簡介</p>
                        <p>合併簡介</p>
                        合併簡介
                    </div>
                    <div class="clear"></div>
                    <h2>相關資訊</h2>
                    <div class="map_block">
                        <div class="map_title">Address:</div>
                        台南市中西區國華街三段5號
                    </div>
                    <div class="map_block">
                        <div class="map_title">Phones:</div>
                        062210517
                    </div>
                </div>
            </div>

            <div class="grid_4 preffix_1">
                <h2>Our Hours</h2>
                <div class="form_title color1">
                    11:00~18:00</div>
                <h2>Tags</h2>
                <ul class="list">
                    <li><a href="#">Herem ipsum dolor </a></li>
                    <li><a href="#">sit Komet,tetur </a></li>
                    <li><a href="#">Odipiscingt</a></li>
                    <li><a href="#">In mollis eratttis </a></li>
                    <li><a href="#">Neque Loacilisis, sit </a></li>
                    <li><a href="#">Amet ultret</a></li>
                    <li><a href="#">Icies erat rutrums </a></li>
                </ul>

                <!--
<form id="bookingForm">
    <div class="tmInput">
        <input name="Name" placeHolder="Name:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
    </div>
    <div class="tmInput">
        <input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
    </div>

    <div class="clear"></div>
    <div class="fl1 ">
        <em>Adults</em>
        <select name="Adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
            <option>1</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>         <div class="clear height1"></div>
-->


                <!--
                </div>
                <div class="fl1">
                    <em>Children</em>
                    <select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
            <option>0</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>
-->

                <!--
</div>
<div class="clear"></div>

<div class="tmTextarea">
    <textarea name="Message" placeHolder="Message:" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
</div>
<div class="ta__right">
    <a href="#" class="btn" data-type="reset">clear</a>
    <a href="#" class="btn" data-type="submit">send</a>
</div>
</form>
</div>
</div>
</div><div class="form_block">
-->
                <!--
<div class="container">
    <div class="row">
        <div class="grid_11">
            <h2>Contact Form</h2>
            <form id="form">
                <div class="form_spinner">
                    <img src="images/Preloader_4.gif" alt="">
                </div>
                <div class="modal fade response-message">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                asfasfasf
                            </div>
                        </div>
                    </div>
                </div>
                <div class="response-error-message"></div>
                <label class="name">
                            <input type="text" name="name" placeholder="Name:" value="" data-constraints="@Required @JustLetters" />
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid name.</span>
                        </label>
                <label class="email">
                            <input type="text" name="email" placeholder="E-mail:" value="" data-constraints="@Required @Email" />
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid email.</span>
                        </label>
                <label class="phone">
                            <input type="text" name="phone" placeholder="Phone:" value="" data-constraints="@Required @JustNumbers" />
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                        </label>
                <label class="message">
                            <textarea name="message" placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*The message is too short.</span>
                        </label>
                <div class="clear"></div>
                <div class="btns">
                    <a href="#" data-type="reset" class="btn">clear</a>
                    <a href="#" data-type="submit" class="btn">send</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
-->
                <!-- jQuery -->
                <script src="js/jquery.min.js"></script>
                <!-- jQuery Easing -->
                <script src="js/jquery.easing.1.3.js"></script>
                <!-- Bootstrap -->
                <script src="js/bootstrap.min.js"></script>
                <!-- Bootstrap DateTimePicker -->
                <script src="js/moment.js"></script>
                <script src="js/bootstrap-datetimepicker.min.js"></script>
                <!-- Waypoints -->
                <script src="js/jquery.waypoints.min.js"></script>
                <!-- Stellar Parallax -->
                <script src="js/jquery.stellar.min.js"></script>

                <!-- Flexslider -->
                <script src="js/jquery.flexslider-min.js"></script>
                <script>
                    $(function() {
                        $('#date').datetimepicker();
                    });

                </script>
                <!-- Main JS -->
                <script src="js/main.js"></script>

                </body>

                </html>
