<!DOCTYPE html>
<!--參考瀑布流模式-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YummyBike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/stylesheets/flexslider.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below 
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="fh5co-container">
        <div id="fh5co-home" class="js-fullheight" data-section="home">

            <div class="flexslider" data-section="logo">

                <div class="fh5co-overlay"></div>
                <div class="fh5co-text">
                    <div class="container">
                        <div class="row">
                            <h1 class="to-animate">Yummy Bike</h1>

                            <h2 class="to-animate">Lovely Designed <span>by</span> <a href="https://github.com/YummyClub">Team Club</a></h2>
                        </div>
                    </div>
                </div>
                <ul class="slides">
                    <li style="background-image: url(images/slide_1.jpg);" data-stellar-background-ratio="0.5"></li>
                    <li style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5"></li>
                    <li style="background-image: url(images/slide_3.jpg);" data-stellar-background-ratio="0.5"></li>
                </ul>

            </div>

        </div>

        <div class="js-sticky">
            <div class="fh5co-main-nav">
                <div class="container-fluid">
                    <div class="fh5co-menu-1">
                        <!--                        <a href="#" data-nav-section="home">Yummy Bike</a>-->
                        <a href="#" data-nav-section="popular">Popular Dishes</a>
                        <!--                        <a href="#" data-nav-section="events"> </a>-->
                    </div>
                    <div class="fh5co-logo">
                        <a href="#" data-nav-section="logo">Yummy Bike</a>
                    </div>
                    <div class="fh5co-menu-2">
                        <!--                        <a href="#" data-nav-section="menu"> </a>-->
                        <a href="#" data-nav-section="features">Featured  Dishes</a>
                        <!--                        <a href="#" data-nav-section="reservation"> </a>-->
                    </div>
                </div>

            </div>
        </div>

        <div class="container" data-section="popular">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!--                 Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="images/chuchia.jpg" alt="Chicago" style="width:100%;">
                        <div class="carousel-caption">
                            <h3><a href="./contents">邱家小卷米粉</a></h3>
                            <p>一間有小卷米粉、台南美食、台南小吃的人氣小吃</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/anpin.jpg" alt="Los Angeles" style="width:100%;">
                        <div class="carousel-caption">
                            <h3><a href="./contents">同記安平豆花</a></h3>
                            <p>一間有台南小吃、豆花、安平美食的在地老店</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/fushanhao1.jpg" alt="New York" style="width:100%;">
                        <div class="carousel-caption">
                            <h3><a href="./contents">富盛號碗粿</a></h3>
                            <p>一間有碗粿、浮水魚羹、的隱藏市場小吃</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/liaochin.jpg" alt="New York" style="width:100%;">
                        <div class="carousel-caption">
                            <h3><a href="./contents">六千牛肉湯</a></h3>
                            <p>一間有牛肉湯、牛腩湯、中式早餐的人氣排隊美食</p>
                        </div>
                    </div>

                </div>


                <!-- Left and right controls -->

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
            </div>
        </div>




        <div id="fh5co-featured" data-section="features">
            <div class="container">
                <div class="row text-center fh5co-heading row-padded">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="heading to-animate">Featured Dishes</h2>
                        <p class="sub-heading to-animate">美食大分類</p>
                    </div>
                </div>
                <div class="row">
                    <div class="fh5co-grid">
                        <div class="fh5co-v-half to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_1.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                                <h2>經典</h2>
                                <span class="pricing"><a href="#fh5co-events">小吃</a></span>
                                <p>網羅全台南排隊美食及人氣小吃</p>
                            </div>
                        </div>
                        <div class="fh5co-v-half">
                            <div class="fh5co-h-row-2 to-animate-2">
                                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_2.jpg)"></div>
                                <div class="fh5co-v-col-2 fh5co-text arrow-left">
                                    <h2>消暑</h2>
                                    <span class="pricing"><a href="#fh5co-events">冰飲品</a></span>
                                    <p>炎炎夏日 來杯冷飲好清涼</p>
                                </div>
                            </div>
                            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_8.jpg)"></div>
                                <div class="fh5co-v-col-2 fh5co-text arrow-right">
                                    <h2>活力</h2>
                                    <span class="pricing"><a href="#fh5co-events">早午餐</a></span>
                                    <p>讓我們一起共度美好的周末吧!!</p>
                                </div>
                            </div>
                        </div>

                        <div class="fh5co-v-half">
                            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_7.jpg)"></div>
                                <div class="fh5co-v-col-2 fh5co-text arrow-right">
                                    <h2>豐盛</h2>
                                    <span class="pricing"><a href="#fh5co-events">鍋類</a></span>
                                    <p>三五好友分享美食的好去處</p>
                                </div>
                            </div>
                            <div class="fh5co-h-row-2 to-animate-2">

                                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_6.jpg)"></div>
                                <div class="fh5co-v-col-2 fh5co-text arrow-left">
                                    <h2>多元</h2>
                                    <span class="pricing"> <a href="#fh5co-events">異國料理</a></span>
                                    <p>傳統的台南卻隱藏著各國風情美食</p>
                                </div>
                            </div>


                        </div>
                        <div class="fh5co-v-half to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_3.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                                <h2>精緻</h2>
                                <span class="pricing"><a href="#fh5co-events">甜點</a></span>
                                <p>從懷舊到新潮 台南應有盡有</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <%- include shortpath %>
            <%- include yummyrecomand %>

                <!-- jQuery -->
                <script src="js/jquery.min.js"></script>
                <!-- jQuery Easing -->
                <script src="js/jquery.easing.1.3.js"></script>
                <!-- Bootstrap -->
                <script src="js/bootstrap.min.js"></script>
                <!-- Bootstrap DateTimePicker -->
                <script src="js/moment.js"></script>
                <script src="js/bootstrap-datetimepicker.min.js"></script>
                <!-- Waypoints -->
                <script src="js/jquery.waypoints.min.js"></script>
                <!-- Stellar Parallax -->
                <script src="js/jquery.stellar.min.js"></script>

                <!-- Flexslider -->
                <script src="js/jquery.flexslider-min.js"></script>
                <script>
                    $(function() {
                        $('#date').datetimepicker();
                    });

                </script>
                <!-- Main JS -->
                <script src="js/main.js"></script>

    </div>
</body>

</html>
