<!DOCTYPE html>
<!--參考瀑布流模式-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <title></title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/stylesheets/flexslider.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below 
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


</head>

<body>

    <div id="fh5co-events" data-section="events" style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2 to-animate">
                    <h2 class="heading">最佳推薦</h2>
                    <p class="sub-heading">為您精選評價前三名的餐廳</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>靖波門港式茶餐廳</h3>
                        <span class="fh5co-event-meta"> 港式料理</span>
                        <p> <img src="images/靖波門.jpg" width="200" height="200" alt="food image"></p>
                        <p><a href="#fh5co-menus" class="btn btn-primary btn-outline">More</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>食倉鮮切牛排</h3>
                        <span class="fh5co-event-meta"> 義式料理</span>
                        <p> <img src="images/食倉.jpg" width="200" height="200" alt="food image"></p>
                        <p><a href="#fh5co-menus" class="btn btn-primary btn-outline">More</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>哞王 原味炭烤牛排</h3>
                        <span class="fh5co-event-meta"> 美式料理</span>
                        <p> <img src="images/碳烤牛排.jpg" width="200" height="200" alt="food image"></p>
                        <p><a href="#fh5co-menus" class="btn btn-primary btn-outline">More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Bootstrap DateTimePicker -->
    <script src="js/moment.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <script>
        $(function () {
            $('#date').datetimepicker();
        });
    </script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

</body>

</html>