<!DOCTYPE html>
<!--參考瀑布流模式-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <title></title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/stylesheets/flexslider.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below 
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


</head>

<body>

    <div id="fh5co-menus" data-section="menu">
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="heading to-animate">美食巡味</h2>
                    <p class="sub-heading to-animate">除了您最愛的美食，我們還給您其他美味餐廳，讓您「美食不孤單」</p>
                </div>
            </div>
            <div class="row row-padded">
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-dishes">Yummy Path</h2>
                        <ul>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/靖波門.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3><a>最短路徑</a></h3>
                                        <p>Tbike 台南火車站前站 > 靖波門港式茶餐廳 > Tbike 赤崁樓</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    <a>路線連結</a>
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/卷尾家.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3><a>美食不漏勾推薦路線一</a></h3>
                                        <p>Tbike 台南火車站前站 > 靖波門港式茶餐廳 > 蜷尾家甘味處散步甜食 >Tbike 臺灣文學館站</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    <a>路線連結</a>
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/金華61.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3><a>美食不漏勾推薦路線二</a></h3>
                                        <p>Tbike 台南火車站前站 > 靖波門港式茶餐廳 > 金華61鴉片綠豆蒜 > T-Bike 安平區公所站</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    <a>路線連結</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <!--<h2 class="fh5co-dishes">Steak</h2>-->
                        <ul>
                            <li>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d10388.049736556839!2d120.19753967460555!3d22.99694646115705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e2!4m5!1s0x346e768c918e8257%3A0x1a9601b72863bc94!2zNzA05Y-w5Y2X5biC5YyX5Y2A5oiQ5Yqf6LevVC1CaWtlIOWPsOWNl-eBq-i7iuermeWJjeermQ!3m2!1d22.997727599999997!2d120.21193129999999!4m5!1s0x0%3A0x61687e7c767cc530!2z6Z2W5rOi6ZaA5riv5byP6Iy26aSQ5buz!3m2!1d23.00256!2d120.19492!4m5!1s0x0%3A0x5a93a4e80006bcef!2z6Jy35bC-5a6255SY5ZGz6JmV5pWj5q2l55Sc6aOf!3m2!1d22.9943465!2d120.19714169999999!4m5!1s0x346e7662b71f9331%3A0xac62c4099c21f9a!2zVC1CaWtlIOiHuueBo-aWh-WtuOmkqOermSA3MDDlj7DljZfluILkuK3opb_ljYDlj4vmhJvooZc4LTPomZ8!3m2!1d22.991079199999998!2d120.2039336!5e0!3m2!1szh-TW!2stw!4v1507098710744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>




            <!-- jQuery -->
            <script src="js/jquery.min.js"></script>
            <!-- jQuery Easing -->
            <script src="js/jquery.easing.1.3.js"></script>
            <!-- Bootstrap -->
            <script src="js/bootstrap.min.js"></script>
            <!-- Bootstrap DateTimePicker -->
            <script src="js/moment.js"></script>
            <script src="js/bootstrap-datetimepicker.min.js"></script>
            <!-- Waypoints -->
            <script src="js/jquery.waypoints.min.js"></script>
            <!-- Stellar Parallax -->
            <script src="js/jquery.stellar.min.js"></script>

            <!-- Flexslider -->
            <script src="js/jquery.flexslider-min.js"></script>
            <script>
                $(function() {
                    $('#date').datetimepicker();
                });

            </script>
            <!-- Main JS -->
            <script src="js/main.js"></script>


        </div>
    </div>

</body>

</html>
